.ytydghgdgdtr{
    color: black;
    background-color: aqua;
    width: 100%;
    border-radius: 10px ;
    text-align: center;
}
span{
    background-color: black;
    color: yellow;
    border: 1px solid red;
}
th{
    color: white;
    background-color: aqua;
}
td{
    color: yellow;
    background-color: aquamarine;
}